@model IEnumerable<MVC5Course.Models.Course>

@{
    ViewBag.Title = "Index";
    var ctrlName = ViewContext.RouteData.Values["controller"].ToString();
    var actionName = ViewContext.RouteData.Values["action"].ToString();
}

<h2>Index</h2>

@using (Html.BeginForm(actionName, ctrlName, FormMethod.Get))
{
    <p>
        @Html.DropDownList("Department", null, "--請選擇--")

        <input type="submit" value="搜尋" />

        @Html.ActionLink("Create New", "Create")
    </p>
}

@using (Html.BeginForm())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpenDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsEnabled)
            </th>
            <th></th>
        </tr>

        @{
            var data = Model.ToArray();
        }
        @for (var i = 0; i < data.Length; i++)
        {
            <tr>
                <td>
                    @Html.HiddenFor(modelItem => data[i].CourseID)
                    @Html.DisplayFor(modelItem => data[i].Title)
                </td>
                <td>
                    @Html.EditorFor(modelItem => data[i].Credits)<br />
                    @Html.ValidationMessageFor(modelItem => data[i].Credits, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(modelItem => data[i].OpenDate)<br />
                    @Html.ValidationMessageFor(modelItem => data[i].OpenDate, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => data[i].Department.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => data[i].IsEnabled)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = data[i].CourseID }) |
                    @Html.ActionLink("Details", "Details", new { id = data[i].CourseID })

                    @if (data[i].Credits < 3)
                    {
                        <text>
                            | @Html.ActionLink("Delete", "Delete", new { id = data[i].CourseID })
                        </text>
                    }
                </td>
            </tr>
        }

    </table>

    <input type="submit" value="批次更新" />
}
